<div class="container">
    <table class="table table-light">
        <tbody>
            <tr *ngIf="bookdetail">
                <td>{{bookdetail.id}}</td>
                <td>{{bookdetail.title}}</td>
                <td>{{bookdetail.author}}</td>
                <td>{{bookdetail.category}}</td>
            </tr>
        </tbody>
    </table>
</div>

<a class="btn btn-primary" [routerLink]="['/book']">Back</a>
<a class="btn btn-primary" (click)="prev()">Prev</a>
<a class="btn btn-primary" (click)="next()">Next</a>